-f https://download.pytorch.org/whl/torch_stable.html
Flask==2.2.2
matplotlib
numpy==1.20.2
pandas==1.2.4
parso==0.7.0
Pillow
PyYAML==5.3.1
pyzmq==20.0.0
scikit-learn
scipy
torch==1.8.1+cpu 
torchvision==0.9.1+cpu 
torchaudio==0.8.1 
tqdm==4.60.0
typing-extensions==3.10.0.0
webencodings==0.5.1
Werkzeug==2.0.0
wincertstore==0.2
gunicorn>=20.1.0   
markupsafe>=2.1.1  
